@model HomeViewModel

    <div class="container mt-5 mb-5">
        <hr />
        <hr />
        <div class="currencies float-left">
            <h2>
                Общий график разработки
            </h2>

        </div>
        <hr />
        <hr />
        <hr />
        @foreach (var el in Model.mainModal.generalDevelopmentModels)
        {
            <div class="alert alert-warning mt-3">
                @el.Date<br />
                @el.Forecast<br />
                @el.Progress<br />
            </div>
        }
        <hr />
        <hr />
        <a class="btn btn-warning" href="/GeneralDevelopment/Checkout">Добавить значение</a>
        <hr />
        <hr />
        <hr />
        @foreach (var el in Model.mainModal.Structures)
        {
            <div class="alert alert-warning mt-3">
                @el.Name<br />
                @el.Proportion<br />
            </div>
        }
        <hr />
        <hr />
        <a class="btn btn-warning" href="/Structure/SecondCheckout">Добавить значение</a>
    </div>