
    <h2>
        Страница проекта
    </h2>

    <div class="row mt-5 mb-">
        <div class="currencies float-left">
            @{
                foreach (var project in Model.getAllModels)
                {
                    <div>
                        <h2> Проект: @project.name </h2>
                        <p> Заказчик:  @project.customer </p>
                        <p> РП от ИТ: @project.developer </p>
                        <p> Технология: @project.technology </p>
                        <p> Бюджет: @project.cost </p>
                    </div>
                }
            }
        </div>
    </div>
