@model ProjectPageViewModel

<div class="container mt-5 mb-5">
    <hr />
    <hr />
    <div class="currencies float-left">
        <h2>
            Общая информация о проекте <br />
        </h2>

        <h3>
            @foreach (var item in Model.projectPageModel.project)
            {
                if (item.Id.Equals(ProjectPageViewModel.projectId))
                {
                    <td>Название проекта: @item.Name</td> <br />
                    <td>Заказчик: @item.Customer</td> <br />
                    <td>Ответсвенный: @item.Developer</td> <br />
                    <td>Технология: @item.Technology</td> <br />
                    <td>Стоимость: @item.Cost</td> <br />
                }
            }

        </h3>
        <hr> 
        <h2>
            Проблемы разработки
        </h2>
    
</div>
