@model ProjectPageViewModel

<div class="container mt-5 mb-5">
    <hr />
    <hr />
    <div class="currencies float-left">
        <h2>
            Общая информация о проекте <br />
        </h2>

        <h3>
            @foreach (var item in Model.projectPageModel.project)
            {
                if (item.Id.Equals(ProjectPageViewModel.projectId))
                {
                    <td>Название проекта: @item.Name</td> <br />
                    <td>Заказчик: @item.Customer</td> <br />
                    <td>Ответственный: @item.Developer</td> <br />
                    <td>Технология: @item.Technology</td> <br />
                    <td>Стоимость: @item.Cost</td> <br />
                }

            }

            <a class="btn btn-warning" href="#">Изменить значения</a>
        </h3>
        <hr>
        <h2>
            Проблемы разработки
        </h2>

        @foreach (var item in Model.projectPageModel.projectProblems)
        {
            if (item.Project.Equals(ProjectPageViewModel.projectId))
            {
                <td> @item.Number </td>
                <td> @item.Problem</td> <br />
                <td>
                    <form method="post">
                        <button type="submit" asp-controller="ProjectPage" asp-action="DeleteProblem" asp-route-id="@item.Id">
                            Удалить
                        </button>
                    </form>
                </td>
            }

        }
        <a class="btn btn-warning" href="/ProjectPage/AddProblem">Добавить значение</a>

        <hr>
        <h2>
            Этапы
        </h2>

        @foreach (var item in Model.projectPageModel.Stages)
        {
            if (item.Project.Equals(ProjectPageViewModel.projectId))
            {
                <td> @item.Number </td>
                <td> @item.Stage</td> <br />
                <td>
                    <form method="post">
                       
                    </form>
                </td>
            }

        }
        <a class="btn btn-warning" href="/ProjectPage/AddStage">Добавить значение</a>


    </div>
