@model ProjectPageViewModel

<div class="container mt-5 mb-5">
    <hr />
    <hr />
    <div class="currencies float-left">
        <h2>
            Общая информация о проекте <br />
        </h2>

        <h3>
            @foreach (var item in Model.projectPageModel.Project)
            {
                if (item.Id.Equals(ProjectPageViewModel.projectId))
                {
                    <td>Название проекта: @item.Name</td> <br />
                    <td>Заказчик: @item.Customer</td> <br />
                    <td>Ответственный: @item.Developer</td> <br />
                    <td>Технология: @item.Technology</td> <br />
                    <td>Стоимость: @item.Cost</td> <br />
                }

            }

            <a class="btn btn-warning" href="/Project/Editor">Изменить значения</a>
        </h3>
        <hr>
        <h2>
            Задачи до конца проекта
        </h2>

        @foreach (var item in Model.projectPageModel.projectProblems)
        {
            if (item.Project.Equals(ProjectPageViewModel.projectId))
            {
                <td> @item.Number </td>
                <td> @item.Problem</td>
                <td>
                    <form method="post">
                        <button type="submit" asp-controller="ProjectPage" asp-action="DeleteProblem" asp-route-id="@item.Id">
                            Удалить
                        </button>
                    </form>
                </td>
            }

        }
        <a class="btn btn-warning" href="/ProjectPage/AddProblem">Добавить значение</a>

        <hr>
        <h2>
            Этапы
        </h2>

        @foreach (var item in Model.projectPageModel.Stages)
        {
            if (item.Project.Equals(ProjectPageViewModel.projectId))
            {
                <td> @item.Number </td>
                <td> @item.Stage</td> <br />
                <td>
                    <form method="post">
                        <button type="submit" asp-controller="ProjectPage" asp-action="DeleteStage" asp-route-id="@item.Id">
                            Удалить
                        </button>
                    </form>
                </td>
            }

        }
        <a class="btn btn-warning" href="/ProjectPage/AddStage">Добавить значение</a>

        <hr>
        <h2>
            Основные задачи этапа
        </h2>

        <table class="table">
            <tr><td>Контрольные точки</td><td>Срок до:</td></tr>
            @foreach (var item in Model.projectPageModel.GeneralProblems)

            {
                if (item.Project.Equals(ProjectPageViewModel.projectId))
                {
                    <tr>
                        <td>@item.Description</td>
                        <td>@item.Date</td>
                        <td>
                            <form method="post">
                                <button type="submit" asp-controller="ProjectPage" asp-action="DeleteFinalProblems" asp-route-id="@item.Id">
                                    Удалить
                                </button>
                            </form>
                        </td>

                    </tr>
                }
            }
        </table>

        <a class="btn btn-warning" href="/ProjectPage/AddGeneralProblem">Добавить значение</a>

        <hr>

        <table class="table">
            <tr><td>Основные текущие и предстоящие работы</td><td>Срок:</td><td>Точка невозрата</td><td>Ответственные</td><td>%</td></tr>
            @foreach (var item in Model.projectPageModel.GeneralWorks)

            {
                if (item.Project.Equals(ProjectPageViewModel.projectId))
                {
                    <tr>
                        <td>@item.Description</td>
                        <td>@item.Date</td>
                        <td>@item.RedLine</td>
                        <td>@item.Responsible</td>
                        <td>@item.Persent</td>

                        <td>
                            <form method="post">
                                <button type="submit" asp-controller="ProjectPage" asp-action="DeleteGeneralWorks" asp-route-id="@item.Id">
                                    Удалить
                                </button>
                            </form>
                        </td>

                    </tr>
                }
            }
        </table>

        <a class="btn btn-warning" href="/ProjectPage/AddGeneralWorks">Добавить значение</a>
        <hr>

        <h2>
            Риски:
        </h2>

        <table class="table">
            <tr><td>Описание рисков</td><td>ОТВ</td><td>Срок</td><td>Решение</td></tr>
            @foreach (var item in Model.projectPageModel.ProjectRisks)

            {
                if (item.Project.Equals(ProjectPageViewModel.projectId))
                {
                    <tr>
                        <td>@item.Description</td>
                        <td>@item.OTV</td>
                        <td>@item.RedLine</td>
                        <td>@item.Solution</td>
                        <td>
                            <form method="post">
                                <button type="submit" asp-controller="ProjectPage" asp-action="DeleteRisks" asp-route-id="@item.Id">
                                    Удалить
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </table>

        <a class="btn btn-warning" href="/ProjectPage/AddRisks">Добавить значение</a>

        <hr>
        <form method="post">
        </form>

        @using (Html.BeginForm("GoToList", "MeetingPage"))
        {
            <button type="submit" name="projectId" value="@ProjectPageViewModel.projectId">
                Перейти к списку встреч
            </button>

        }


    </div>
