@model MeetingsPageViewModel

<div class="container mt-5 mb-5">
    <hr />
    <hr />
    <div class="currencies float-left">
        <h2>
            Повестка текущей встречи <br />
        </h2>

        
            <table class="table">
                <tr><td>Номер</td><td>Вопрос к обсуждению:</td><td>Комментарий:</td><td>Предложения:</td></tr>
                @foreach (var item in Model.MeetingPageModel.MeetingModel)
                {
                    if (item.MeetingId.Equals(MeetingsPageViewModel.MeetingId))
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Question</td>
                            <td>@item.Comment</td>
                            <td>@item.Suggestion</td>
                            <td>
                                <form method="post">
                                    <button type="submit" asp-controller="MeetingPage" asp-action="DeleteMeeting" asp-route-id="@item.Id">
                                        Удалить
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }

                }
            </table>
            <a class="btn badge-light border-dark" href="/MeetingPage/AddNewParameters">Добавить значение</a>
        
        <hr>
        <h2>
            Поручения <br />
        </h2>
        
            <table class="table">
                <tr><td>Номер</td><td>Поручение:</td><td>Срок:</td><td>Ответственный:</td></tr>
                @foreach (var item in Model.MeetingPageModel.MeetingAssignment)
                {
                    if (item.MeetingId.Equals(MeetingsPageViewModel.MeetingId))
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Asignment</td>
                            <td>@item.RedLine</td>
                            <td>@item.Responsible</td>
                            <td>
                                <form method="post">
                                    <button type="submit" asp-controller="MeetingPage" asp-action="DeleteAssignment" asp-route-id="@item.Id">
                                        Удалить
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }

                }
            </table>
            <a class="btn badge-light border-dark" href="/MeetingPage/AddNewAssignment">Добавить значение</a>
            
        
    </div>
