@model MeetingsPageViewModel

<div class="container mt-5 mb-5">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="navbar-collapse" id="navbarСollapse">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="/Home/Index">Главная</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/MeetingPage/GetList">Встречи по проекту</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Restrictions/Index">Ограничения</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/GeneralInformation/Index">Общая информация</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/ProjectPage/Index">Подробная информация</a>
                    </li>

                </ul>

                <form class="form-inline mt-2 mt-md-0">
                    <a class="nav-link" href="/Account/Logout">Выйти</a>
                </form>
            </div>
        </nav>

    </header>
    <br />
    <div class="currencies float-left">
        <h2>
            Повестка текущей встречи <br />
        </h2>

        
            <table class="table">
                <tr><td>Номер</td><td>Вопрос к обсуждению:</td><td>Комментарий:</td><td>Предложения:</td></tr>
                @foreach (var item in Model.MeetingPageModel.MeetingModel)
                {
                    if (item.MeetingId.Equals(MeetingsPageViewModel.MeetingId))
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Question</td>
                            <td>@item.Comment</td>
                            <td>@item.Suggestion</td>
                            <td>
                                <form method="post">
                                    <button type="submit" asp-controller="MeetingPage" asp-action="DeleteAgenda" asp-route-id="@item.Id">
                                        Удалить
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }

                }
            </table>
            <a class="btn badge-light border-dark" href="/MeetingPage/AddNewParameters">Добавить значение</a>
        
        <hr>
        <h2>
            Поручения <br />
        </h2>
        
            <table class="table">
                <tr><td>Номер</td><td>Поручение:</td><td>Срок:</td><td>Ответственный:</td></tr>
                @foreach (var item in Model.MeetingPageModel.MeetingAssignment)
                {
                    if (item.MeetingId.Equals(MeetingsPageViewModel.MeetingId))
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Asignment</td>
                            <td>@item.RedLine</td>
                            <td>@item.Responsible</td>
                            <td>
                                <form method="post">
                                    <button type="submit" asp-controller="MeetingPage" asp-action="DeleteAssignment" asp-route-id="@item.Id">
                                        Удалить
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }

                }
            </table>
            <a class="btn badge-light border-dark" href="/MeetingPage/AddNewAssignment">Добавить значение</a>
            
        
    </div>
